#### 导入包

In [1]:
import os
import zipfile
import pandas as pd
import gc
import glob
from sqlalchemy import create_engine
from datetime import timedelta
from sklearn.model_selection import train_test_split

#### 读取数据集

In [2]:
#读取错误标签数据集
fault_tag_df = pd.read_csv('fault_tag_data.csv')
fault_tag_df = fault_tag_df.sort_values('fault_time')
fault_tag_df['fault_time'] = pd.to_datetime(fault_tag_df['fault_time'])
# 将同一个模型的数据归结到一起
fault_tag_A_df = fault_tag_df[fault_tag_df['model'] == 1]
fault_tag_B_df = fault_tag_df[fault_tag_df['model'] == 2]
fault_tag_A_df = fault_tag_A_df[['serial_number','fault_time']]
fault_tag_B_df = fault_tag_B_df[['serial_number','fault_time']]
fault_tag_A_df

     serial_number fault_time
2320   disk_125207 2017-07-02
1214   disk_133302 2017-07-04
2004    disk_72870 2017-07-05
2384    disk_19440 2017-07-05
2326   disk_127633 2017-07-06
...            ...        ...
37     disk_114679 2018-12-31
509    disk_113846 2018-12-31
2298   disk_114247 2018-12-31
566    disk_143012 2018-12-31
1940    disk_42553 2018-12-31

[1271 rows x 2 columns]

In [21]:
# 读取2017年07月磁盘数据集
# 读取csv文件
smartlog_data_201707_fault_df = pd.read_csv('smartlog_data_201707.csv')
# 删除空值
smartlog_data_201707_fault_df = smartlog_data_201707_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201707_fault_df['dt'] = pd.to_datetime(smartlog_data_201707_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201707_fault_A_df = smartlog_data_201707_fault_df[smartlog_data_201707_fault_df['model'] == 1]
smartlog_data_201707_fault_B_df = smartlog_data_201707_fault_df[smartlog_data_201707_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201707_fault_A_df = smartlog_data_201707_fault_A_df[smartlog_data_201707_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201707_fault_B_df = smartlog_data_201707_fault_B_df[smartlog_data_201707_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201707_fault_A_df = pd.merge(smartlog_data_201707_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201707_fault_B_df = pd.merge(smartlog_data_201707_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201707_fault_A_df['first_observation_time'] = smartlog_data_201707_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201707_fault_B_df['first_observation_time'] = smartlog_data_201707_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201707_fault_A_df['time_diff'] = (smartlog_data_201707_fault_A_df['fault_time'] - smartlog_data_201707_fault_A_df['first_observation_time']).dt.days
smartlog_data_201707_fault_B_df['time_diff'] = (smartlog_data_201707_fault_B_df['fault_time'] - smartlog_data_201707_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201707_fault_A_df = smartlog_data_201707_fault_A_df[smartlog_data_201707_fault_A_df['time_diff'] >= 0]
smartlog_data_201707_fault_B_df = smartlog_data_201707_fault_B_df[smartlog_data_201707_fault_B_df['time_diff'] >= 0]
# 选取属性进行测试
smartlog_data_201707_fault_A_df = smartlog_data_201707_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201707_fault_B_df = smartlog_data_201707_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201707_fault_df
gc.collect()
smartlog_data_201707_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_69492,1,0.0,5.0,4.0,5.0,100.0,90.0,2017-07-22,2017-10-27,2017-07-09,110
1,disk_69492,1,0.0,5.0,4.0,5.0,100.0,90.0,2017-07-19,2017-10-27,2017-07-09,110
2,disk_69492,1,0.0,5.0,4.0,5.0,100.0,90.0,2017-07-29,2017-10-27,2017-07-09,110
3,disk_69492,1,0.0,5.0,4.0,5.0,100.0,90.0,2017-07-16,2017-10-27,2017-07-09,110
4,disk_69492,1,0.0,5.0,4.0,5.0,100.0,90.0,2017-07-20,2017-10-27,2017-07-09,110
...,...,...,...,...,...,...,...,...,...,...,...,...
16866,disk_55811,1,0.0,11.0,10.0,11.0,100.0,93.0,2017-07-30,2018-12-06,2017-07-28,496
16867,disk_55811,1,0.0,11.0,10.0,11.0,100.0,93.0,2017-07-28,2018-12-06,2017-07-28,496
16868,disk_127134,1,0.0,5.0,4.0,5.0,100.0,90.0,2017-07-28,2018-09-08,2017-07-28,407
16869,disk_127134,1,0.0,5.0,4.0,5.0,100.0,90.0,2017-07-31,2018-09-08,2017-07-28,407
16870,disk_127134,1,0.0,5.0,4.0,5.0,100.0,90.0,2017-07-29,2018-09-08,2017-07-28,407

In [22]:
smartlog_data_201707_fault_B_df

,serial_number,model,smart_9_normalized,smart_191_normalized,smart_192raw,smart_195_normalized,smart_5raw,smart_199raw,smart_190_normalized,smart_188raw,...,smart_191raw,smart_7_normalized,smart_9raw,smart_7raw,smart_242raw,smart_241raw,dt,fault_time,first_observation_time,time_diff
0,disk_52458,2,98.0,100.0,12.0,100.0,0.0,0.0,70.0,0.0,...,202.0,73.0,2255.0,19019324.0,25054164.0,4.957761e+08,2017-07-09,2018-07-18,2017-07-09,374
1,disk_52458,2,97.0,100.0,12.0,100.0,0.0,0.0,69.0,0.0,...,202.0,73.0,2663.0,19788694.0,25054164.0,4.957761e+08,2017-07-26,2018-07-18,2017-07-09,374
2,disk_52458,2,98.0,100.0,12.0,100.0,0.0,0.0,70.0,0.0,...,202.0,73.0,2327.0,19155104.0,25054164.0,4.957761e+08,2017-07-12,2018-07-18,2017-07-09,374
3,disk_52458,2,98.0,100.0,12.0,100.0,0.0,0.0,69.0,0.0,...,202.0,73.0,2447.0,19381869.0,25054164.0,4.957761e+08,2017-07-17,2018-07-18,2017-07-09,374
4,disk_52458,2,98.0,100.0,12.0,100.0,0.0,0.0,70.0,0.0,...,202.0,73.0,2399.0,19291084.0,25054164.0,4.957761e+08,2017-07-15,2018-07-18,2017-07-09,374
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3559,disk_131817,2,100.0,100.0,14.0,10.0,0.0,0.0,73.0,0.0,...,49.0,71.0,77.0,13847248.0,19805210.0,9.551698e+07,2017-07-22,2018-10-26,2017-07-22,461
3560,disk_58222,2,100.0,100.0,11.0,2.0,0.0,0.0,73.0,0.0,...,2.0,72.0,242.0,14128824.0,16467152.0,5.754016e+06,2017-07-22,2018-07-03,2017-07-21,347
3561,disk_58222,2,100.0,100.0,11.0,2.0,0.0,0.0,73.0,0.0,...,2.0,71.0,218.0,14105101.0,16467152.0,5.754016e+06,2017-07-21,2018-07-03,2017-07-21,347
3562,disk_58222,2,100.0,99.0,11.0,30.0,110.0,0.0,66.0,0.0,...,2143.0,74.0,441.0,25199238.0,402472247.0,3.126624e+10,2017-07-31,2018-07-03,2017-07-21,347
3563,disk_60072,2,100.0,100.0,12.0,12.0,0.0,0.0,72.0,0.0,...,149.0,73.0,73.0,18778050.0,578012536.0,1.873533e+09,2017-07-29,2018-07-04,2017-07-29,340

In [23]:
# 查看201707每个故障磁盘有多少条数据
# 筛选总共有多少个磁盘名称
unique_disk_fault_A_201707_names = smartlog_data_201707_fault_A_df['serial_number'].unique()
unique_disk_fault_B_201707_names = smartlog_data_201707_fault_B_df['serial_number'].unique()
counts_fault_A_201707 = {}
counts_fault_B_201707 = {}
# 查找
for name in unique_disk_fault_A_201707_names:
    counts_fault_A_201707[name] = len(smartlog_data_201707_fault_A_df[smartlog_data_201707_fault_A_df['serial_number'] == name])
for name in unique_disk_fault_B_201707_names:
    counts_fault_B_201707[name] = len(smartlog_data_201707_fault_B_df[smartlog_data_201707_fault_B_df['serial_number'] == name])
# 打印
print(counts_fault_B_201707)
print(counts_fault_A_201707)

{'disk_52458': 16, 'disk_53124': 17, 'disk_53537': 17, 'disk_54194': 17, 'disk_54781': 15, 'disk_56104': 10, 'disk_57810': 19, 'disk_57894': 7, 'disk_58740': 3, 'disk_58805': 7, 'disk_58981': 7, 'disk_118008': 11, 'disk_118036': 17, 'disk_118353': 17, 'disk_118617': 14, 'disk_119050': 18, 'disk_119539': 14, 'disk_121338': 18, 'disk_121682': 17, 'disk_122368': 19, 'disk_122646': 18, 'disk_122766': 7, 'disk_122984': 15, 'disk_123887': 20, 'disk_124576': 17, 'disk_125154': 17, 'disk_126659': 17, 'disk_128734': 18, 'disk_128840': 18, 'disk_128986': 13, 'disk_129643': 5, 'disk_130816': 4, 'disk_130916': 11, 'disk_131129': 17, 'disk_132927': 5, 'disk_45353': 17, 'disk_45939': 17, 'disk_45957': 12, 'disk_46139': 12, 'disk_46148': 17, 'disk_46479': 13, 'disk_47067': 17, 'disk_47375': 13, 'disk_47510': 17, 'disk_47794': 18, 'disk_47904': 17, 'disk_47944': 13, 'disk_47990': 18, 'disk_48083': 17, 'disk_48111': 17, 'disk_48302': 18, 'disk_48786': 8, 'disk_49001': 10, 'disk_49268': 8, 'disk_49324': 17, 'disk_49376': 9, 'disk_49447': 17, 'disk_49551': 18, 'disk_49590': 17, 'disk_50090': 18, 'disk_50686': 17, 'disk_50854': 22, 'disk_52175': 12, 'disk_52306': 5, 'disk_52359': 2, 'disk_52433': 13, 'disk_52568': 5, 'disk_52917': 18, 'disk_53801': 11, 'disk_54394': 11, 'disk_58861': 17, 'disk_58927': 17, 'disk_63835': 3, 'disk_117472': 18, 'disk_117544': 12, 'disk_117717': 13, 'disk_118209': 17, 'disk_118359': 17, 'disk_118805': 5, 'disk_118929': 19, 'disk_118985': 17, 'disk_119565': 18, 'disk_120310': 17, 'disk_120387': 16, 'disk_120686': 17, 'disk_120746': 18, 'disk_121343': 17, 'disk_121396': 8, 'disk_121715': 6, 'disk_122488': 21, 'disk_122668': 15, 'disk_122769': 18, 'disk_122916': 17, 'disk_123712': 6, 'disk_123814': 17, 'disk_124000': 17, 'disk_125149': 17, 'disk_126915': 17, 'disk_128657': 18, 'disk_129027': 11, 'disk_130208': 6, 'disk_131121': 17, 'disk_45331': 14, 'disk_45653': 17, 'disk_45720': 13, 'disk_45921': 13, 'disk_46624': 7, 'disk_46859': 3, 'disk_46955': 17, 'disk_47051': 22, 'disk_47210': 18, 'disk_47288': 21, 'disk_47374': 12, 'disk_47559': 14, 'disk_48529': 9, 'disk_49617': 6, 'disk_49789': 40, 'disk_50007': 14, 'disk_51931': 7, 'disk_52347': 17, 'disk_52933': 17, 'disk_53142': 17, 'disk_56039': 15, 'disk_56194': 17, 'disk_56463': 17, 'disk_56740': 17, 'disk_57372': 17, 'disk_60644': 3, 'disk_118164': 19, 'disk_118261': 6, 'disk_118641': 17, 'disk_119023': 15, 'disk_119393': 17, 'disk_119655': 17, 'disk_119739': 8, 'disk_120113': 16, 'disk_121813': 17, 'disk_121839': 18, 'disk_122701': 4, 'disk_123995': 18, 'disk_124167': 8, 'disk_124503': 17, 'disk_124588': 15, 'disk_125129': 17, 'disk_128973': 17, 'disk_131266': 17, 'disk_131808': 2, 'disk_131829': 7, 'disk_132476': 5, 'disk_45437': 18, 'disk_45700': 17, 'disk_45975': 17, 'disk_46294': 6, 'disk_46584': 13, 'disk_46969': 19, 'disk_47246': 18, 'disk_47758': 13, 'disk_48744': 8, 'disk_48995': 18, 'disk_49250': 8, 'disk_50424': 14, 'disk_50717': 7, 'disk_53118': 14, 'disk_54622': 6, 'disk_56470': 17, 'disk_56701': 14, 'disk_58938': 17, 'disk_59013': 17, 'disk_60555': 3, 'disk_60889': 3, 'disk_117459': 18, 'disk_117850': 23, 'disk_118349': 18, 'disk_120296': 17, 'disk_120742': 17, 'disk_122612': 10, 'disk_123181': 18, 'disk_126443': 17, 'disk_128183': 17, 'disk_128381': 16, 'disk_45690': 17, 'disk_46492': 20, 'disk_48044': 17, 'disk_48454': 9, 'disk_48986': 23, 'disk_49524': 18, 'disk_50909': 16, 'disk_51836': 8, 'disk_52827': 10, 'disk_53889': 16, 'disk_56627': 17, 'disk_56918': 11, 'disk_57809': 6, 'disk_59770': 1, 'disk_60275': 1, 'disk_60935': 4, 'disk_117410': 17, 'disk_117550': 16, 'disk_118790': 13, 'disk_119117': 19, 'disk_128159': 17, 'disk_45766': 17, 'disk_45789': 19, 'disk_47444': 8, 'disk_47635': 13, 'disk_48793': 8, 'disk_49845': 17, 'disk_51640': 18, 'disk_57944': 10, 'disk_117635': 17, 'disk_128125': 21, 'disk_45992': 18, 'disk_46649': 6, 'disk_47615': 11, 'disk_47910': 13, 'disk_50389': 17, 'disk_50977': 9, 'disk_53048': 17, 'disk_57942': 5, 'disk_58778': 7, 'disk_60291': 1, 'disk_60434': 2, 'disk_60660': 3, 'disk_64525': 6, 'disk_117473': 11, 'disk_118271': 17, 'disk_118707': 15, 'disk_119482': 15, 'disk_122476': 17, 'disk_127428': 10, 'disk_45685': 13, 'disk_47611': 13, 'disk_51572': 18, 'disk_53716': 6, 'disk_56462': 17, 'disk_58596': 7, 'disk_60377': 3, 'disk_60402': 3, 'disk_117431': 14, 'disk_118241': 4, 'disk_118829': 17, 'disk_50532': 7, 'disk_53765': 5, 'disk_57961': 3, 'disk_60329': 2, 'disk_63796': 3, 'disk_117979': 17, 'disk_118621': 10, 'disk_120015': 17, 'disk_120331': 6, 'disk_121753': 5, 'disk_121815': 18, 'disk_45452': 11, 'disk_52246': 3, 'disk_59119': 4, 'disk_129645': 6, 'disk_130450': 10, 'disk_48242': 13, 'disk_133053': 3, 'disk_46746': 18, 'disk_51975': 9, 'disk_54104': 6, 'disk_58373': 5, 'disk_63686': 2, 'disk_129140': 12, 'disk_45647': 10, 'disk_60954': 2, 'disk_52407': 3, 'disk_132341': 3, 'disk_56813': 6, 'disk_56861': 5, 'disk_124783': 17, 'disk_119462': 8, 'disk_130224': 7, 'disk_59652': 3, 'disk_57113': 7, 'disk_131905': 4, 'disk_54006': 1, 'disk_60994': 6, 'disk_53888': 1, 'disk_131828': 1, 'disk_131817': 1, 'disk_58222': 3, 'disk_60072': 1}

In [19]:
# 读取2017年08月磁盘数据集
# 读取csv文件
smartlog_data_201708_fault_df = pd.read_csv('smartlog_data_201708.csv')
# 删除空值
smartlog_data_201708_fault_df = smartlog_data_201708_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201708_fault_df['dt'] = pd.to_datetime(smartlog_data_201708_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201708_fault_A_df = smartlog_data_201708_fault_df[smartlog_data_201708_fault_df['model'] == 1]
smartlog_data_201708_fault_B_df = smartlog_data_201708_fault_df[smartlog_data_201708_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201708_fault_A_df = smartlog_data_201708_fault_A_df[smartlog_data_201708_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201708_fault_B_df = smartlog_data_201708_fault_B_df[smartlog_data_201708_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201708_fault_A_df = pd.merge(smartlog_data_201708_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201708_fault_B_df = pd.merge(smartlog_data_201708_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201708_fault_A_df['first_observation_time'] = smartlog_data_201708_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201708_fault_B_df['first_observation_time'] = smartlog_data_201708_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201708_fault_A_df['time_diff'] = (smartlog_data_201708_fault_A_df['fault_time'] - smartlog_data_201708_fault_A_df['first_observation_time']).dt.days
smartlog_data_201708_fault_B_df['time_diff'] = (smartlog_data_201708_fault_B_df['fault_time'] - smartlog_data_201708_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201708_fault_A_df = smartlog_data_201708_fault_A_df[(smartlog_data_201708_fault_A_df['time_diff'] >= 0) | (smartlog_data_201708_fault_A_df['fault_time'] <= '2017-08-05')]
smartlog_data_201708_fault_B_df = smartlog_data_201708_fault_B_df[(smartlog_data_201708_fault_B_df['time_diff'] >= 0) | (smartlog_data_201708_fault_B_df['fault_time'] <= '2017-08-05')]
# 选取属性进行测试
smartlog_data_201708_fault_A_df = smartlog_data_201708_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201708_fault_B_df = smartlog_data_201708_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201708_fault_df
gc.collect()
smartlog_data_201708_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_100111,1,27.0,10.0,9.0,10.0,100.0,93.0,2017-08-07,2018-05-02,2017-08-01,274
1,disk_100111,1,34.0,10.0,9.0,10.0,100.0,93.0,2017-08-28,2018-05-02,2017-08-01,274
2,disk_100111,1,34.0,10.0,9.0,10.0,100.0,93.0,2017-08-31,2018-05-02,2017-08-01,274
3,disk_100111,1,27.0,10.0,9.0,10.0,100.0,93.0,2017-08-05,2018-05-02,2017-08-01,274
4,disk_100111,1,34.0,10.0,9.0,10.0,100.0,93.0,2017-08-29,2018-05-02,2017-08-01,274
...,...,...,...,...,...,...,...,...,...,...,...,...
28851,disk_138880,1,0.0,12.0,12.0,13.0,100.0,91.0,2017-08-02,2017-08-01,2017-08-01,0
28852,disk_138880,1,0.0,12.0,12.0,13.0,100.0,91.0,2017-08-01,2017-08-01,2017-08-01,0
28853,disk_91432,1,142.0,12.0,11.0,12.0,100.0,86.0,2017-08-01,2017-07-31,2017-08-01,-1
28854,disk_29894,1,0.0,6.0,5.0,6.0,100.0,81.0,2017-08-02,2017-08-03,2017-08-02,1
28855,disk_29894,1,0.0,6.0,5.0,6.0,100.0,81.0,2017-08-04,2017-08-03,2017-08-02,1

In [20]:
# 筛选总共有多少个磁盘名称
unique_disk_fault_A_201708_names = smartlog_data_201708_fault_A_df['serial_number'].unique()
unique_disk_fault_B_201708_names = smartlog_data_201708_fault_B_df['serial_number'].unique()
counts_fault_A_201708 = {}
counts_fault_B_201708 = {}
# 查找
for name in unique_disk_fault_A_201708_names:
    counts_fault_A_201708[name] = len(smartlog_data_201708_fault_A_df[smartlog_data_201708_fault_A_df['serial_number'] == name])
for name in unique_disk_fault_B_201708_names:
    counts_fault_B_201708[name] = len(smartlog_data_201708_fault_B_df[smartlog_data_201708_fault_B_df['serial_number'] == name])
# 打印
print(counts_fault_B_201708)
print(counts_fault_A_201708)

{'disk_49376': 31, 'disk_49447': 25, 'disk_49524': 31, 'disk_49551': 30, 'disk_49617': 27, 'disk_50389': 31, 'disk_50532': 30, 'disk_50686': 31, 'disk_50909': 30, 'disk_51173': 23, 'disk_51519': 15, 'disk_51685': 11, 'disk_51836': 31, 'disk_51931': 11, 'disk_51975': 30, 'disk_52433': 29, 'disk_52568': 29, 'disk_53716': 17, 'disk_53889': 25, 'disk_54006': 22, 'disk_54128': 22, 'disk_54194': 30, 'disk_54860': 24, 'disk_55360': 24, 'disk_56039': 30, 'disk_56104': 31, 'disk_56462': 31, 'disk_56470': 31, 'disk_56627': 29, 'disk_56701': 30, 'disk_56740': 31, 'disk_56968': 15, 'disk_57301': 10, 'disk_57314': 27, 'disk_57372': 31, 'disk_57942': 30, 'disk_57961': 30, 'disk_58222': 26, 'disk_58233': 10, 'disk_58373': 31, 'disk_58596': 29, 'disk_58740': 30, 'disk_58938': 28, 'disk_59119': 30, 'disk_59599': 15, 'disk_59652': 31, 'disk_59890': 28, 'disk_59948': 27, 'disk_60072': 29, 'disk_60275': 30, 'disk_60311': 26, 'disk_60402': 31, 'disk_60500': 27, 'disk_60555': 28, 'disk_60660': 31, 'disk_60701': 10, 'disk_60831': 28, 'disk_60935': 25, 'disk_60941': 13, 'disk_60954': 27, 'disk_60994': 31, 'disk_61070': 5, 'disk_61360': 11, 'disk_63414': 12, 'disk_63796': 31, 'disk_63800': 30, 'disk_65124': 3, 'disk_66543': 9, 'disk_67195': 10, 'disk_67504': 13, 'disk_68546': 3, 'disk_117544': 19, 'disk_117550': 31, 'disk_117635': 29, 'disk_117850': 31, 'disk_117979': 13, 'disk_118209': 29, 'disk_118241': 26, 'disk_118271': 24, 'disk_118349': 30, 'disk_118359': 31, 'disk_118929': 31, 'disk_118985': 30, 'disk_119050': 23, 'disk_119482': 28, 'disk_120015': 30, 'disk_120296': 28, 'disk_120310': 31, 'disk_120686': 24, 'disk_120746': 30, 'disk_121338': 25, 'disk_121682': 31, 'disk_121813': 29, 'disk_121815': 30, 'disk_122476': 28, 'disk_122488': 17, 'disk_122612': 31, 'disk_122668': 27, 'disk_122701': 30, 'disk_123077': 13, 'disk_123105': 11, 'disk_123181': 30, 'disk_123422': 17, 'disk_123745': 24, 'disk_123814': 30, 'disk_123995': 31, 'disk_124000': 23, 'disk_124167': 31, 'disk_124576': 29, 'disk_124783': 31, 'disk_125129': 31, 'disk_125149': 30, 'disk_125673': 13, 'disk_126100': 23, 'disk_126452': 3, 'disk_126659': 30, 'disk_126689': 10, 'disk_126915': 30, 'disk_127428': 30, 'disk_128159': 31, 'disk_128381': 28, 'disk_128657': 30, 'disk_128840': 29, 'disk_128973': 31, 'disk_129027': 29, 'disk_130208': 27, 'disk_130816': 30, 'disk_130916': 29, 'disk_131266': 28, 'disk_132102': 28, 'disk_132137': 28, 'disk_132247': 30, 'disk_132341': 31, 'disk_132626': 28, 'disk_132926': 30, 'disk_133067': 27, 'disk_133314': 11, 'disk_133668': 11, 'disk_134264': 14, 'disk_136699': 12, 'disk_137254': 30, 'disk_45331': 29, 'disk_45353': 30, 'disk_45647': 30, 'disk_45653': 31, 'disk_45685': 29, 'disk_45690': 25, 'disk_45700': 31, 'disk_45720': 24, 'disk_45921': 30, 'disk_46294': 24, 'disk_46492': 29, 'disk_46584': 28, 'disk_46746': 31, 'disk_47210': 30, 'disk_47559': 29, 'disk_47575': 31, 'disk_47758': 17, 'disk_47794': 31, 'disk_47910': 17, 'disk_47990': 30, 'disk_48083': 30, 'disk_48242': 28, 'disk_48302': 31, 'disk_48454': 24, 'disk_48786': 31, 'disk_49250': 24, 'disk_49324': 31, 'disk_49590': 31, 'disk_50007': 30, 'disk_50090': 27, 'disk_50854': 31, 'disk_50977': 30, 'disk_51572': 31, 'disk_51950': 12, 'disk_52175': 24, 'disk_52306': 30, 'disk_52561': 28, 'disk_53048': 30, 'disk_53118': 25, 'disk_53888': 28, 'disk_54045': 23, 'disk_54186': 3, 'disk_54394': 30, 'disk_54556': 15, 'disk_54780': 19, 'disk_54781': 28, 'disk_55114': 12, 'disk_55184': 19, 'disk_56194': 31, 'disk_56918': 30, 'disk_57225': 7, 'disk_57810': 25, 'disk_57894': 23, 'disk_58282': 12, 'disk_58723': 13, 'disk_58778': 29, 'disk_58784': 11, 'disk_58805': 29, 'disk_58927': 28, 'disk_58981': 30, 'disk_59013': 28, 'disk_59999': 22, 'disk_60160': 27, 'disk_60407': 27, 'disk_60570': 28, 'disk_60735': 27, 'disk_60901': 30, 'disk_60923': 15, 'disk_61255': 30, 'disk_62939': 10, 'disk_64525': 62, 'disk_55046': 6, 'disk_56290': 10, 'disk_56463': 29, 'disk_57223': 7, 'disk_58861': 28, 'disk_59266': 10, 'disk_60329': 26, 'disk_60434': 28, 'disk_62083': 26, 'disk_62094': 4, 'disk_62369': 25, 'disk_62389': 26, 'disk_62453': 25, 'disk_63121': 12, 'disk_63789': 30, 'disk_63835': 30, 'disk_68252': 9, 'disk_117410': 5, 'disk_117431': 30, 'disk_117472': 31, 'disk_117717': 28, 'disk_118036': 31, 'disk_118164': 31, 'disk_118261': 27, 'disk_118353': 31, 'disk_118617': 30, 'disk_118641': 30, 'disk_118707': 28, 'disk_118805': 28, 'disk_119462': 6, 'disk_119565': 25, 'disk_119739': 24, 'disk_120331': 31, 'disk_120387': 27, 'disk_121753': 29, 'disk_122539': 7, 'disk_122646': 30, 'disk_122984': 28, 'disk_123162': 25, 'disk_123195': 26, 'disk_123293': 15, 'disk_123584': 28, 'disk_124503': 31, 'disk_125154': 31, 'disk_126099': 22, 'disk_127265': 28, 'disk_127439': 26, 'disk_127502': 23, 'disk_127592': 24, 'disk_127710': 25, 'disk_128183': 31, 'disk_129645': 30, 'disk_130224': 29, 'disk_130537': 7, 'disk_130584': 7, 'disk_131129': 28, 'disk_131766': 28, 'disk_131817': 22, 'disk_131828': 27, 'disk_131930': 27, 'disk_132194': 22, 'disk_133160': 28, 'disk_133408': 10, 'disk_134146': 1, 'disk_141029': 3, 'disk_45452': 29, 'disk_45939': 31, 'disk_45975': 31, 'disk_46139': 28, 'disk_46479': 28, 'disk_46649': 22, 'disk_47067': 30, 'disk_47246': 29, 'disk_47288': 23, 'disk_47374': 30, 'disk_47904': 25, 'disk_48111': 29, 'disk_48793': 29, 'disk_48995': 30, 'disk_50424': 31, 'disk_52458': 21, 'disk_52827': 31, 'disk_52917': 29, 'disk_52933': 31, 'disk_53765': 31, 'disk_53838': 25, 'disk_56813': 29, 'disk_57348': 26, 'disk_57809': 30, 'disk_59603': 14, 'disk_59770': 28, 'disk_61305': 5, 'disk_61437': 3, 'disk_61759': 12, 'disk_61983': 13, 'disk_68008': 10, 'disk_68179': 10, 'disk_117459': 28, 'disk_119117': 30, 'disk_119655': 23, 'disk_120113': 30, 'disk_120742': 31, 'disk_121715': 30, 'disk_122766': 31, 'disk_122769': 31, 'disk_122916': 31, 'disk_122936': 21, 'disk_123672': 11, 'disk_123712': 22, 'disk_126104': 23, 'disk_126202': 12, 'disk_126466': 16, 'disk_126598': 25, 'disk_126819': 7, 'disk_128734': 30, 'disk_129140': 28, 'disk_130192': 7, 'disk_131121': 28, 'disk_131630': 10, 'disk_131808': 21, 'disk_132427': 28, 'disk_132927': 29, 'disk_46859': 29, 'disk_46969': 31, 'disk_47051': 31, 'disk_48044': 29, 'disk_48529': 31, 'disk_49789': 62, 'disk_50717': 31, 'disk_51640': 31, 'disk_51660': 31, 'disk_51719': 10, 'disk_52246': 26, 'disk_52407': 31, 'disk_53142': 27, 'disk_53801': 29, 'disk_54104': 29, 'disk_54296': 3, 'disk_54589': 12, 'disk_54612': 25, 'disk_54649': 3, 'disk_57944': 29, 'disk_58382': 7, 'disk_59591': 28, 'disk_60506': 11, 'disk_60521': 13, 'disk_63686': 31, 'disk_68108': 4, 'disk_118790': 29, 'disk_118829': 29, 'disk_119393': 31, 'disk_121396': 6, 'disk_122368': 31, 'disk_123979': 11, 'disk_124588': 30, 'disk_125953': 24, 'disk_126700': 12, 'disk_127107': 3, 'disk_128125': 29, 'disk_128986': 30, 'disk_131905': 30, 'disk_132297': 27, 'disk_132359': 28, 'disk_133171': 27, 'disk_133288': 28, 'disk_134086': 12, 'disk_135092': 24, 'disk_140209': 10, 'disk_45437': 28, 'disk_45957': 16, 'disk_46955': 30, 'disk_47375': 22, 'disk_47444': 24, 'disk_47510': 29, 'disk_47615': 29, 'disk_48986': 3, 'disk_49845': 3, 'disk_53537': 31, 'disk_53990': 24, 'disk_54543': 25, 'disk_54606': 16, 'disk_54698': 3, 'disk_57113': 30, 'disk_59635': 15, 'disk_61821': 25, 'disk_66419': 10, 'disk_66586': 3, 'disk_117473': 23, 'disk_119257': 11, 'disk_125776': 28, 'disk_126443': 31, 'disk_129643': 25, 'disk_131769': 10, 'disk_132476': 4, 'disk_136614': 13, 'disk_137521': 3, 'disk_137755': 10, 'disk_45766': 29, 'disk_45992': 27, 'disk_47635': 17, 'disk_49268': 20, 'disk_51668': 11, 'disk_53124': 24, 'disk_54068': 23, 'disk_54308': 13, 'disk_58053': 7, 'disk_58354': 10, 'disk_60644': 30, 'disk_62303': 11, 'disk_63151': 3, 'disk_66943': 3, 'disk_68020': 10, 'disk_119539': 28, 'disk_123887': 30, 'disk_126869': 11, 'disk_131829': 23, 'disk_137789': 11, 'disk_46148': 24, 'disk_47611': 17, 'disk_48744': 31, 'disk_51180': 25, 'disk_52336': 7, 'disk_52347': 24, 'disk_54622': 30, 'disk_55127': 13, 'disk_57874': 4, 'disk_60291': 28, 'disk_60945': 13, 'disk_118008': 27, 'disk_121343': 17, 'disk_123058': 11, 'disk_126766': 3, 'disk_53605': 22, 'disk_55292': 13, 'disk_58077': 10, 'disk_64805': 12, 'disk_130450': 28, 'disk_47944': 17, 'disk_126507': 14, 'disk_141292': 10, 'disk_55068': 12, 'disk_62270': 10, 'disk_129193': 1, 'disk_137284': 3, 'disk_52123': 12, 'disk_129510': 11, 'disk_139371': 3, 'disk_140168': 1, 'disk_58397': 6, 'disk_123667': 3, 'disk_142314': 1, 'disk_130529': 3, 'disk_137758': 12, 'disk_54765': 10, 'disk_136403': 3, 'disk_140275': 3, 'disk_65904': 3, 'disk_66616': 6, 'disk_51282': 3, 'disk_68595': 3, 'disk_54703': 3, 'disk_124082': 4, 'disk_53657': 3, 'disk_62336': 6, 'disk_56861': 4, 'disk_121561': 3, 'disk_60479': 3, 'disk_125833': 3, 'disk_123415': 3, 'disk_62943': 3, 'disk_67847': 3}

In [18]:
# 读取2017年09月磁盘数据集
# 读取csv文件
smartlog_data_201709_fault_df = pd.read_csv('smartlog_data_201709.csv')
# 删除空值
smartlog_data_201709_fault_df = smartlog_data_201709_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201709_fault_df['dt'] = pd.to_datetime(smartlog_data_201709_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201709_fault_A_df = smartlog_data_201709_fault_df[smartlog_data_201709_fault_df['model'] == 1]
smartlog_data_201709_fault_B_df = smartlog_data_201709_fault_df[smartlog_data_201709_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201709_fault_A_df = smartlog_data_201709_fault_A_df[smartlog_data_201709_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201709_fault_B_df = smartlog_data_201709_fault_B_df[smartlog_data_201709_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201709_fault_A_df = pd.merge(smartlog_data_201709_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201709_fault_B_df = pd.merge(smartlog_data_201709_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201709_fault_A_df['first_observation_time'] = smartlog_data_201709_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201709_fault_B_df['first_observation_time'] = smartlog_data_201709_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201709_fault_A_df['time_diff'] = (smartlog_data_201709_fault_A_df['fault_time'] - smartlog_data_201709_fault_A_df['first_observation_time']).dt.days
smartlog_data_201709_fault_B_df['time_diff'] = (smartlog_data_201709_fault_B_df['fault_time'] - smartlog_data_201709_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201709_fault_A_df = smartlog_data_201709_fault_A_df[(smartlog_data_201709_fault_A_df['time_diff'] >= 0) | (smartlog_data_201709_fault_A_df['fault_time'] <= '2017-09-05')]
smartlog_data_201709_fault_B_df = smartlog_data_201709_fault_B_df[(smartlog_data_201709_fault_B_df['time_diff'] >= 0) | (smartlog_data_201709_fault_B_df['fault_time'] <= '2017-09-05')]
# 选取属性进行测试
smartlog_data_201709_fault_A_df = smartlog_data_201709_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201709_fault_B_df = smartlog_data_201709_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201709_fault_df
gc.collect()
smartlog_data_201709_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_68474,1,796.0,11.0,10.0,11.0,96.0,91.0,2017-09-23,2018-04-22,2017-09-01,233
1,disk_68474,1,770.0,11.0,10.0,11.0,96.0,90.0,2017-09-18,2018-04-22,2017-09-01,233
2,disk_68474,1,728.0,11.0,10.0,11.0,96.0,90.0,2017-09-05,2018-04-22,2017-09-01,233
3,disk_68474,1,774.0,11.0,10.0,11.0,96.0,90.0,2017-09-19,2018-04-22,2017-09-01,233
4,disk_68474,1,762.0,11.0,10.0,11.0,96.0,90.0,2017-09-15,2018-04-22,2017-09-01,233
...,...,...,...,...,...,...,...,...,...,...,...,...
24648,disk_48558,1,0.0,26.0,21.0,23.0,100.0,93.0,2017-09-02,2017-09-04,2017-09-01,3
24649,disk_48558,1,0.0,26.0,21.0,23.0,100.0,93.0,2017-09-01,2017-09-04,2017-09-01,3
24650,disk_138123,1,0.0,34.0,33.0,34.0,100.0,81.0,2017-09-26,2018-03-21,2017-09-26,176
24651,disk_138123,1,0.0,34.0,33.0,34.0,100.0,81.0,2017-09-27,2018-03-21,2017-09-26,176
24652,disk_88600,1,8.0,13.0,12.0,13.0,100.0,86.0,2017-09-01,2017-09-01,2017-09-01,0

In [17]:
# 读取2017年10月磁盘数据集
# 读取csv文件
smartlog_data_201710_fault_df = pd.read_csv('smartlog_data_201710.csv')
# 删除空值
smartlog_data_201710_fault_df = smartlog_data_201710_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201710_fault_df['dt'] = pd.to_datetime(smartlog_data_201710_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201710_fault_A_df = smartlog_data_201710_fault_df[smartlog_data_201710_fault_df['model'] == 1]
smartlog_data_201710_fault_B_df = smartlog_data_201710_fault_df[smartlog_data_201710_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201710_fault_A_df = smartlog_data_201710_fault_A_df[smartlog_data_201710_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201710_fault_B_df = smartlog_data_201710_fault_B_df[smartlog_data_201710_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201710_fault_A_df = pd.merge(smartlog_data_201710_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201710_fault_B_df = pd.merge(smartlog_data_201710_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201710_fault_A_df['first_observation_time'] = smartlog_data_201710_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201710_fault_B_df['first_observation_time'] = smartlog_data_201710_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201710_fault_A_df['time_diff'] = (smartlog_data_201710_fault_A_df['fault_time'] - smartlog_data_201710_fault_A_df['first_observation_time']).dt.days
smartlog_data_201710_fault_B_df['time_diff'] = (smartlog_data_201710_fault_B_df['fault_time'] - smartlog_data_201710_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201710_fault_A_df = smartlog_data_201710_fault_A_df[(smartlog_data_201710_fault_A_df['time_diff'] >= 0) | (smartlog_data_201710_fault_A_df['fault_time'] <= '2017-10-05')]
smartlog_data_201710_fault_B_df = smartlog_data_201710_fault_B_df[(smartlog_data_201710_fault_B_df['time_diff'] >= 0) | (smartlog_data_201710_fault_B_df['fault_time'] <= '2017-10-05')]
# 选取属性进行测试
smartlog_data_201710_fault_A_df = smartlog_data_201710_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201710_fault_B_df = smartlog_data_201710_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201710_fault_df
gc.collect()
smartlog_data_201710_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_100265,1,0.0,23.0,22.0,23.0,100.0,84.0,2017-10-01,2018-11-01,2017-10-01,396
1,disk_100265,1,0.0,23.0,22.0,23.0,100.0,84.0,2017-10-23,2018-11-01,2017-10-01,396
2,disk_100265,1,0.0,23.0,22.0,23.0,100.0,84.0,2017-10-02,2018-11-01,2017-10-01,396
3,disk_100265,1,0.0,23.0,22.0,23.0,100.0,84.0,2017-10-03,2018-11-01,2017-10-01,396
4,disk_100265,1,0.0,23.0,22.0,23.0,100.0,84.0,2017-10-17,2018-11-01,2017-10-01,396
...,...,...,...,...,...,...,...,...,...,...,...,...
25886,disk_19626,1,0.0,20.0,19.0,20.0,100.0,85.0,2017-10-07,2018-09-20,2017-10-05,350
25887,disk_19626,1,0.0,20.0,19.0,20.0,100.0,85.0,2017-10-08,2018-09-20,2017-10-05,350
25888,disk_19626,1,0.0,20.0,19.0,20.0,100.0,85.0,2017-10-06,2018-09-20,2017-10-05,350
25889,disk_19626,1,0.0,20.0,19.0,20.0,100.0,85.0,2017-10-05,2018-09-20,2017-10-05,350
25890,disk_106506,1,911.0,22.0,21.0,22.0,95.0,87.0,2017-10-01,2017-09-30,2017-10-01,-1

In [16]:
# 读取2017年11月磁盘数据集
# 读取csv文件
smartlog_data_201711_fault_df = pd.read_csv('smartlog_data_201711.csv')
# 删除空值
smartlog_data_201711_fault_df = smartlog_data_201711_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201711_fault_df['dt'] = pd.to_datetime(smartlog_data_201711_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201711_fault_A_df = smartlog_data_201711_fault_df[smartlog_data_201711_fault_df['model'] == 1]
smartlog_data_201711_fault_B_df = smartlog_data_201711_fault_df[smartlog_data_201711_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201711_fault_A_df = smartlog_data_201711_fault_A_df[smartlog_data_201711_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201711_fault_B_df = smartlog_data_201711_fault_B_df[smartlog_data_201711_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201711_fault_A_df = pd.merge(smartlog_data_201711_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201711_fault_B_df = pd.merge(smartlog_data_201711_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201711_fault_A_df['first_observation_time'] = smartlog_data_201711_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201711_fault_B_df['first_observation_time'] = smartlog_data_201711_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201711_fault_A_df['time_diff'] = (smartlog_data_201711_fault_A_df['fault_time'] - smartlog_data_201711_fault_A_df['first_observation_time']).dt.days
smartlog_data_201711_fault_B_df['time_diff'] = (smartlog_data_201711_fault_B_df['fault_time'] - smartlog_data_201711_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201711_fault_A_df = smartlog_data_201711_fault_A_df[(smartlog_data_201711_fault_A_df['time_diff'] >= 0) | (smartlog_data_201711_fault_A_df['fault_time'] <= '2017-11-05')]
smartlog_data_201711_fault_B_df = smartlog_data_201711_fault_B_df[(smartlog_data_201711_fault_B_df['time_diff'] >= 0) | (smartlog_data_201711_fault_B_df['fault_time'] <= '2017-11-05')]
# 选取属性进行测试
smartlog_data_201711_fault_A_df = smartlog_data_201711_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201711_fault_B_df = smartlog_data_201711_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201711_fault_df
gc.collect()
smartlog_data_201711_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_17921,1,18.0,13.0,12.0,13.0,100.0,87.0,2017-11-09,2018-12-10,2017-11-01,404
1,disk_17921,1,21.0,13.0,12.0,13.0,100.0,87.0,2017-11-27,2018-12-10,2017-11-01,404
2,disk_17921,1,19.0,13.0,12.0,13.0,100.0,87.0,2017-11-17,2018-12-10,2017-11-01,404
3,disk_17921,1,19.0,13.0,12.0,13.0,100.0,87.0,2017-11-24,2018-12-10,2017-11-01,404
4,disk_17921,1,18.0,13.0,12.0,13.0,100.0,87.0,2017-11-08,2018-12-10,2017-11-01,404
...,...,...,...,...,...,...,...,...,...,...,...,...
24697,disk_20993,1,0.0,41.0,40.0,42.0,100.0,82.0,2017-11-03,2017-11-03,2017-11-01,2
24698,disk_20993,1,0.0,41.0,40.0,42.0,100.0,82.0,2017-11-01,2017-11-03,2017-11-01,2
24699,disk_96363,1,0.0,20.0,19.0,20.0,100.0,87.0,2017-11-01,2017-11-01,2017-11-01,0
24700,disk_96363,1,0.0,21.0,20.0,20.0,100.0,87.0,2017-11-02,2017-11-01,2017-11-01,0
24701,disk_147153,1,0.0,14.0,2.0,2.0,100.0,100.0,2017-11-30,2018-02-19,2017-11-30,81

In [15]:
# 读取2017年12月磁盘数据集
# 读取csv文件
smartlog_data_201712_fault_df = pd.read_csv('smartlog_data_201712.csv')
# 删除空值
smartlog_data_201712_fault_df = smartlog_data_201712_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201712_fault_df['dt'] = pd.to_datetime(smartlog_data_201712_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201712_fault_A_df = smartlog_data_201712_fault_df[smartlog_data_201712_fault_df['model'] == 1]
smartlog_data_201712_fault_B_df = smartlog_data_201712_fault_df[smartlog_data_201712_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201712_fault_A_df = smartlog_data_201712_fault_A_df[smartlog_data_201712_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201712_fault_B_df = smartlog_data_201712_fault_B_df[smartlog_data_201712_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201712_fault_A_df = pd.merge(smartlog_data_201712_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201712_fault_B_df = pd.merge(smartlog_data_201712_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201712_fault_A_df['first_observation_time'] = smartlog_data_201712_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201712_fault_B_df['first_observation_time'] = smartlog_data_201712_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201712_fault_A_df['time_diff'] = (smartlog_data_201712_fault_A_df['fault_time'] - smartlog_data_201712_fault_A_df['first_observation_time']).dt.days
smartlog_data_201712_fault_B_df['time_diff'] = (smartlog_data_201712_fault_B_df['fault_time'] - smartlog_data_201712_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201712_fault_A_df = smartlog_data_201712_fault_A_df[(smartlog_data_201712_fault_A_df['time_diff'] >= 0) | (smartlog_data_201712_fault_A_df['fault_time'] <= '2017-12-05')]
smartlog_data_201712_fault_B_df = smartlog_data_201712_fault_B_df[(smartlog_data_201712_fault_B_df['time_diff'] >= 0) | (smartlog_data_201712_fault_B_df['fault_time'] <= '2017-12-05')]
# 选取属性进行测试
smartlog_data_201712_fault_A_df = smartlog_data_201712_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201712_fault_B_df = smartlog_data_201712_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201712_fault_df
gc.collect()
smartlog_data_201712_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_124744,1,0.0,10.0,7.0,8.0,100.0,69.0,2017-12-06,2018-07-06,2017-12-06,212
1,disk_124744,1,0.0,10.0,7.0,8.0,100.0,72.0,2017-12-17,2018-07-06,2017-12-06,212
2,disk_124744,1,0.0,10.0,7.0,8.0,100.0,74.0,2017-12-28,2018-07-06,2017-12-06,212
3,disk_124744,1,0.0,10.0,7.0,8.0,100.0,74.0,2017-12-29,2018-07-06,2017-12-06,212
4,disk_124744,1,0.0,10.0,7.0,8.0,100.0,73.0,2017-12-22,2018-07-06,2017-12-06,212
...,...,...,...,...,...,...,...,...,...,...,...,...
26613,disk_3955,1,186.0,19.0,6.0,19.0,99.0,84.0,2017-12-01,2018-02-12,2017-12-01,73
26614,disk_3955,1,223.0,19.0,6.0,19.0,99.0,84.0,2017-12-04,2018-02-12,2017-12-01,73
26615,disk_3955,1,203.0,19.0,6.0,19.0,99.0,84.0,2017-12-03,2018-02-12,2017-12-01,73
26616,disk_3955,1,192.0,19.0,6.0,19.0,99.0,84.0,2017-12-02,2018-02-12,2017-12-01,73
26617,disk_3955,1,235.0,19.0,6.0,19.0,99.0,84.0,2017-12-05,2018-02-12,2017-12-01,73

In [14]:
# 读取2018年01月磁盘数据集
# 读取csv文件
smartlog_data_201801_fault_df = pd.read_csv('smartlog_data_201801.csv')
# 删除空值
smartlog_data_201801_fault_df = smartlog_data_201801_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201801_fault_df['dt'] = pd.to_datetime(smartlog_data_201801_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201801_fault_A_df = smartlog_data_201801_fault_df[smartlog_data_201801_fault_df['model'] == 1]
smartlog_data_201801_fault_B_df = smartlog_data_201801_fault_df[smartlog_data_201801_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201801_fault_A_df = smartlog_data_201801_fault_A_df[smartlog_data_201801_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201801_fault_B_df = smartlog_data_201801_fault_B_df[smartlog_data_201801_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201801_fault_A_df = pd.merge(smartlog_data_201801_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201801_fault_B_df = pd.merge(smartlog_data_201801_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201801_fault_A_df['first_observation_time'] = smartlog_data_201801_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201801_fault_B_df['first_observation_time'] = smartlog_data_201801_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201801_fault_A_df['time_diff'] = (smartlog_data_201801_fault_A_df['fault_time'] - smartlog_data_201801_fault_A_df['first_observation_time']).dt.days
smartlog_data_201801_fault_B_df['time_diff'] = (smartlog_data_201801_fault_B_df['fault_time'] - smartlog_data_201801_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201801_fault_A_df = smartlog_data_201801_fault_A_df[(smartlog_data_201801_fault_A_df['time_diff'] >= 0) | (smartlog_data_201801_fault_A_df['fault_time'] <= '2018-01-05')]
smartlog_data_201801_fault_B_df = smartlog_data_201801_fault_B_df[(smartlog_data_201801_fault_B_df['time_diff'] >= 0) | (smartlog_data_201801_fault_B_df['fault_time'] <= '2018-01-05')]
# 选取属性进行测试
smartlog_data_201801_fault_A_df = smartlog_data_201801_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201801_fault_B_df = smartlog_data_201801_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201801_fault_df
gc.collect()
smartlog_data_201801_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_50434,1,1.0,8.0,7.0,8.0,100.0,93.0,2018-01-29,2018-10-30,2018-01-01,302
1,disk_50434,1,1.0,8.0,7.0,8.0,100.0,93.0,2018-01-02,2018-10-30,2018-01-01,302
2,disk_50434,1,1.0,8.0,7.0,8.0,100.0,93.0,2018-01-20,2018-10-30,2018-01-01,302
3,disk_50434,1,1.0,8.0,7.0,8.0,100.0,93.0,2018-01-17,2018-10-30,2018-01-01,302
4,disk_50434,1,1.0,8.0,7.0,8.0,100.0,93.0,2018-01-01,2018-10-30,2018-01-01,302
...,...,...,...,...,...,...,...,...,...,...,...,...
26825,disk_18624,1,0.0,27.0,26.0,27.0,100.0,86.0,2018-01-05,2018-01-04,2018-01-02,2
26826,disk_18624,1,0.0,16.0,15.0,16.0,100.0,86.0,2018-01-04,2018-01-04,2018-01-02,2
26827,disk_18624,1,0.0,16.0,15.0,16.0,100.0,86.0,2018-01-02,2018-01-04,2018-01-02,2
26828,disk_18624,1,0.0,16.0,15.0,16.0,100.0,86.0,2018-01-03,2018-01-04,2018-01-02,2
26829,disk_5200,1,0.0,26.0,25.0,26.0,100.0,88.0,2018-01-09,2018-07-05,2018-01-09,177

In [13]:
# 读取2018年02月磁盘数据集
# 读取csv文件
smartlog_data_201802_fault_df = pd.read_csv('smartlog_data_201802.csv')
# 删除空值
smartlog_data_201802_fault_df = smartlog_data_201802_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201802_fault_df['dt'] = pd.to_datetime(smartlog_data_201802_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201802_fault_A_df = smartlog_data_201802_fault_df[smartlog_data_201802_fault_df['model'] == 1]
smartlog_data_201802_fault_B_df = smartlog_data_201802_fault_df[smartlog_data_201802_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201802_fault_A_df = smartlog_data_201802_fault_A_df[smartlog_data_201802_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201802_fault_B_df = smartlog_data_201802_fault_B_df[smartlog_data_201802_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201802_fault_A_df = pd.merge(smartlog_data_201802_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201802_fault_B_df = pd.merge(smartlog_data_201802_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201802_fault_A_df['first_observation_time'] = smartlog_data_201802_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201802_fault_B_df['first_observation_time'] = smartlog_data_201802_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201802_fault_A_df['time_diff'] = (smartlog_data_201802_fault_A_df['fault_time'] - smartlog_data_201802_fault_A_df['first_observation_time']).dt.days
smartlog_data_201802_fault_B_df['time_diff'] = (smartlog_data_201802_fault_B_df['fault_time'] - smartlog_data_201802_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201802_fault_A_df = smartlog_data_201802_fault_A_df[(smartlog_data_201802_fault_A_df['time_diff'] >= 0) | (smartlog_data_201802_fault_A_df['fault_time'] <= '2018-02-05')]
smartlog_data_201802_fault_B_df = smartlog_data_201802_fault_B_df[(smartlog_data_201802_fault_B_df['time_diff'] >= 0) | (smartlog_data_201802_fault_B_df['fault_time'] <= '2018-02-05')]
# 选取属性进行测试
smartlog_data_201802_fault_A_df = smartlog_data_201802_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201802_fault_B_df = smartlog_data_201802_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201802_fault_df
gc.collect()
smartlog_data_201802_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_25828,1,0.0,9.0,8.0,9.0,100.0,86.0,2018-02-07,2018-05-31,2018-02-01,119
1,disk_25828,1,0.0,9.0,8.0,9.0,100.0,86.0,2018-02-13,2018-05-31,2018-02-01,119
2,disk_25828,1,0.0,9.0,8.0,9.0,100.0,86.0,2018-02-10,2018-05-31,2018-02-01,119
3,disk_25828,1,0.0,9.0,8.0,9.0,100.0,86.0,2018-02-04,2018-05-31,2018-02-01,119
4,disk_25828,1,0.0,9.0,8.0,9.0,100.0,86.0,2018-02-17,2018-05-31,2018-02-01,119
...,...,...,...,...,...,...,...,...,...,...,...,...
22831,disk_5066,1,0.0,26.0,22.0,26.0,100.0,87.0,2018-02-01,2018-05-04,2018-02-01,92
22832,disk_5066,1,0.0,26.0,22.0,26.0,100.0,87.0,2018-02-02,2018-05-04,2018-02-01,92
22833,disk_5066,1,0.0,26.0,22.0,26.0,100.0,87.0,2018-02-04,2018-05-04,2018-02-01,92
22834,disk_32617,1,164.0,90.0,85.0,89.0,99.0,93.0,2018-02-01,2018-02-01,2018-02-01,0
22835,disk_131351,1,0.0,6.0,5.0,6.0,100.0,89.0,2018-02-01,2018-02-01,2018-02-01,0

In [12]:
# 读取2018年03月磁盘数据集
# 读取csv文件
smartlog_data_201803_fault_df = pd.read_csv('smartlog_data_201803.csv')
# 删除空值
smartlog_data_201803_fault_df = smartlog_data_201803_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201803_fault_df['dt'] = pd.to_datetime(smartlog_data_201803_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201803_fault_A_df = smartlog_data_201803_fault_df[smartlog_data_201803_fault_df['model'] == 1]
smartlog_data_201803_fault_B_df = smartlog_data_201803_fault_df[smartlog_data_201803_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201803_fault_A_df = smartlog_data_201803_fault_A_df[smartlog_data_201803_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201803_fault_B_df = smartlog_data_201803_fault_B_df[smartlog_data_201803_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201803_fault_A_df = pd.merge(smartlog_data_201803_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201803_fault_B_df = pd.merge(smartlog_data_201803_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201803_fault_A_df['first_observation_time'] = smartlog_data_201803_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201803_fault_B_df['first_observation_time'] = smartlog_data_201803_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201803_fault_A_df['time_diff'] = (smartlog_data_201803_fault_A_df['fault_time'] - smartlog_data_201803_fault_A_df['first_observation_time']).dt.days
smartlog_data_201803_fault_B_df['time_diff'] = (smartlog_data_201803_fault_B_df['fault_time'] - smartlog_data_201803_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201803_fault_A_df = smartlog_data_201803_fault_A_df[(smartlog_data_201803_fault_A_df['time_diff'] >= 0) | (smartlog_data_201803_fault_A_df['fault_time'] <= '2018-03-05')]
smartlog_data_201803_fault_B_df = smartlog_data_201803_fault_B_df[(smartlog_data_201803_fault_B_df['time_diff'] >= 0) | (smartlog_data_201803_fault_B_df['fault_time'] <= '2018-03-05')]
# 选取属性进行测试
smartlog_data_201803_fault_A_df = smartlog_data_201803_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201803_fault_B_df = smartlog_data_201803_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201803_fault_df
gc.collect()
smartlog_data_201803_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_131238,1,0.0,7.0,6.0,7.0,100.0,89.0,2018-03-09,2018-08-13,2018-03-01,165
1,disk_131238,1,0.0,7.0,6.0,7.0,100.0,89.0,2018-03-18,2018-08-13,2018-03-01,165
2,disk_131238,1,0.0,7.0,6.0,7.0,100.0,89.0,2018-03-13,2018-08-13,2018-03-01,165
3,disk_131238,1,0.0,7.0,6.0,7.0,100.0,89.0,2018-03-31,2018-08-13,2018-03-01,165
4,disk_131238,1,0.0,7.0,6.0,7.0,100.0,89.0,2018-03-14,2018-08-13,2018-03-01,165
...,...,...,...,...,...,...,...,...,...,...,...,...
23507,disk_127609,1,0.0,24.0,22.0,23.0,100.0,87.0,2018-03-05,2018-03-06,2018-03-01,5
23508,disk_13671,1,0.0,25.0,20.0,25.0,100.0,84.0,2018-03-01,2018-11-17,2018-03-01,261
23509,disk_119072,1,61.0,15.0,14.0,15.0,100.0,95.0,2018-03-02,2018-03-02,2018-03-01,1
23510,disk_119072,1,52.0,15.0,14.0,15.0,100.0,95.0,2018-03-01,2018-03-02,2018-03-01,1
23511,disk_119072,1,84.0,15.0,14.0,15.0,100.0,95.0,2018-03-03,2018-03-02,2018-03-01,1

In [11]:
# 读取2018年04月磁盘数据集
# 读取csv文件
smartlog_data_201804_fault_df = pd.read_csv('smartlog_data_201804.csv')
# 删除空值
smartlog_data_201804_fault_df = smartlog_data_201804_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201804_fault_df['dt'] = pd.to_datetime(smartlog_data_201804_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201804_fault_A_df = smartlog_data_201804_fault_df[smartlog_data_201804_fault_df['model'] == 1]
smartlog_data_201804_fault_B_df = smartlog_data_201804_fault_df[smartlog_data_201804_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201804_fault_A_df = smartlog_data_201804_fault_A_df[smartlog_data_201804_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201804_fault_B_df = smartlog_data_201804_fault_B_df[smartlog_data_201804_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201804_fault_A_df = pd.merge(smartlog_data_201804_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201804_fault_B_df = pd.merge(smartlog_data_201804_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201804_fault_A_df['first_observation_time'] = smartlog_data_201804_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201804_fault_B_df['first_observation_time'] = smartlog_data_201804_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201804_fault_A_df['time_diff'] = (smartlog_data_201804_fault_A_df['fault_time'] - smartlog_data_201804_fault_A_df['first_observation_time']).dt.days
smartlog_data_201804_fault_B_df['time_diff'] = (smartlog_data_201804_fault_B_df['fault_time'] - smartlog_data_201804_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201804_fault_A_df = smartlog_data_201804_fault_A_df[(smartlog_data_201804_fault_A_df['time_diff'] >= 0) | (smartlog_data_201804_fault_A_df['fault_time'] <= '2018-04-05')]
smartlog_data_201804_fault_B_df = smartlog_data_201804_fault_B_df[(smartlog_data_201804_fault_B_df['time_diff'] >= 0) | (smartlog_data_201804_fault_B_df['fault_time'] <= '2018-04-05')]
# 选取属性进行测试
smartlog_data_201804_fault_A_df = smartlog_data_201804_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201804_fault_B_df = smartlog_data_201804_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201804_fault_df
gc.collect()
smartlog_data_201804_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_115590,1,0.0,23.0,20.0,21.0,100.0,93.0,2018-04-16,2018-10-16,2018-04-01,198
1,disk_115590,1,0.0,23.0,20.0,21.0,100.0,93.0,2018-04-11,2018-10-16,2018-04-01,198
2,disk_115590,1,0.0,23.0,20.0,21.0,100.0,93.0,2018-04-27,2018-10-16,2018-04-01,198
3,disk_115590,1,0.0,23.0,20.0,21.0,100.0,93.0,2018-04-09,2018-10-16,2018-04-01,198
4,disk_115590,1,0.0,23.0,20.0,21.0,100.0,93.0,2018-04-28,2018-10-16,2018-04-01,198
...,...,...,...,...,...,...,...,...,...,...,...,...
20813,disk_68722,1,16.0,13.0,12.0,13.0,100.0,95.0,2018-04-02,2018-04-03,2018-04-01,2
20814,disk_23869,1,3308.0,15.0,1.0,1.0,80.0,81.0,2018-04-01,2018-03-31,2018-04-01,-1
20815,disk_80868,1,87.0,19.0,18.0,19.0,100.0,88.0,2018-04-29,2018-06-28,2018-04-28,61
20816,disk_80868,1,87.0,19.0,18.0,19.0,100.0,88.0,2018-04-28,2018-06-28,2018-04-28,61
20817,disk_80868,1,87.0,19.0,18.0,19.0,100.0,88.0,2018-04-30,2018-06-28,2018-04-28,61

In [10]:
# 读取2018年05月磁盘数据集
# 读取csv文件
smartlog_data_201805_fault_df = pd.read_csv('smartlog_data_201805.csv')
# 删除空值
smartlog_data_201805_fault_df = smartlog_data_201805_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201805_fault_df['dt'] = pd.to_datetime(smartlog_data_201805_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201805_fault_A_df = smartlog_data_201805_fault_df[smartlog_data_201805_fault_df['model'] == 1]
smartlog_data_201805_fault_B_df = smartlog_data_201805_fault_df[smartlog_data_201805_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201805_fault_A_df = smartlog_data_201805_fault_A_df[smartlog_data_201805_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201805_fault_B_df = smartlog_data_201805_fault_B_df[smartlog_data_201805_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201805_fault_A_df = pd.merge(smartlog_data_201805_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201805_fault_B_df = pd.merge(smartlog_data_201805_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201805_fault_A_df['first_observation_time'] = smartlog_data_201805_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201805_fault_B_df['first_observation_time'] = smartlog_data_201805_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201805_fault_A_df['time_diff'] = (smartlog_data_201805_fault_A_df['fault_time'] - smartlog_data_201805_fault_A_df['first_observation_time']).dt.days
smartlog_data_201805_fault_B_df['time_diff'] = (smartlog_data_201805_fault_B_df['fault_time'] - smartlog_data_201805_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201805_fault_A_df = smartlog_data_201805_fault_A_df[(smartlog_data_201805_fault_A_df['time_diff'] >= 0) | (smartlog_data_201805_fault_A_df['fault_time'] <= '2018-05-05')]
smartlog_data_201805_fault_B_df = smartlog_data_201805_fault_B_df[(smartlog_data_201805_fault_B_df['time_diff'] >= 0) | (smartlog_data_201805_fault_B_df['fault_time'] <= '2018-05-05')]
# 选取属性进行测试
smartlog_data_201805_fault_A_df = smartlog_data_201805_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201805_fault_B_df = smartlog_data_201805_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201805_fault_df
gc.collect()
smartlog_data_201805_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_99865,1,0.0,19.0,18.0,19.0,100.0,90.0,2018-05-09,2018-11-24,2018-05-01,207
1,disk_99865,1,0.0,19.0,18.0,19.0,100.0,90.0,2018-05-20,2018-11-24,2018-05-01,207
2,disk_99865,1,0.0,19.0,18.0,19.0,100.0,90.0,2018-05-29,2018-11-24,2018-05-01,207
3,disk_99865,1,0.0,19.0,18.0,19.0,100.0,90.0,2018-05-08,2018-11-24,2018-05-01,207
4,disk_99865,1,0.0,19.0,18.0,19.0,100.0,90.0,2018-05-25,2018-11-24,2018-05-01,207
...,...,...,...,...,...,...,...,...,...,...,...,...
19865,disk_123239,1,0.0,21.0,18.0,19.0,100.0,94.0,2018-05-12,2018-05-11,2018-05-01,10
19866,disk_123239,1,0.0,21.0,18.0,19.0,100.0,94.0,2018-05-01,2018-05-11,2018-05-01,10
19867,disk_123239,1,0.0,21.0,18.0,19.0,100.0,94.0,2018-05-09,2018-05-11,2018-05-01,10
19868,disk_123239,1,0.0,21.0,18.0,19.0,100.0,94.0,2018-05-06,2018-05-11,2018-05-01,10
19869,disk_123239,1,0.0,21.0,18.0,19.0,100.0,94.0,2018-05-03,2018-05-11,2018-05-01,10

In [9]:
# 读取2018年06月磁盘数据集
# 读取csv文件
smartlog_data_201806_fault_df = pd.read_csv('smartlog_data_201806.csv')
# 删除空值
smartlog_data_201806_fault_df = smartlog_data_201806_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201806_fault_df['dt'] = pd.to_datetime(smartlog_data_201806_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201806_fault_A_df = smartlog_data_201806_fault_df[smartlog_data_201806_fault_df['model'] == 1]
smartlog_data_201806_fault_B_df = smartlog_data_201806_fault_df[smartlog_data_201806_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201806_fault_A_df = smartlog_data_201806_fault_A_df[smartlog_data_201806_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201806_fault_B_df = smartlog_data_201806_fault_B_df[smartlog_data_201806_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201806_fault_A_df = pd.merge(smartlog_data_201806_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201806_fault_B_df = pd.merge(smartlog_data_201806_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201806_fault_A_df['first_observation_time'] = smartlog_data_201806_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201806_fault_B_df['first_observation_time'] = smartlog_data_201806_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201806_fault_A_df['time_diff'] = (smartlog_data_201806_fault_A_df['fault_time'] - smartlog_data_201806_fault_A_df['first_observation_time']).dt.days
smartlog_data_201806_fault_B_df['time_diff'] = (smartlog_data_201806_fault_B_df['fault_time'] - smartlog_data_201806_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201806_fault_A_df = smartlog_data_201806_fault_A_df[(smartlog_data_201806_fault_A_df['time_diff'] >= 0) | (smartlog_data_201806_fault_A_df['fault_time'] <= '2018-06-05')]
smartlog_data_201806_fault_B_df = smartlog_data_201806_fault_B_df[(smartlog_data_201806_fault_B_df['time_diff'] >= 0) | (smartlog_data_201806_fault_B_df['fault_time'] <= '2018-06-05')]
# 选取属性进行测试
smartlog_data_201806_fault_A_df = smartlog_data_201806_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201806_fault_B_df = smartlog_data_201806_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201806_fault_df
gc.collect()
smartlog_data_201806_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_58278,1,0.0,11.0,10.0,11.0,100.0,93.0,2018-06-22,2018-12-30,2018-06-01,212
1,disk_58278,1,0.0,11.0,10.0,11.0,100.0,93.0,2018-06-29,2018-12-30,2018-06-01,212
2,disk_58278,1,0.0,11.0,10.0,11.0,100.0,93.0,2018-06-03,2018-12-30,2018-06-01,212
3,disk_58278,1,0.0,11.0,10.0,11.0,100.0,93.0,2018-06-19,2018-12-30,2018-06-01,212
4,disk_58278,1,0.0,11.0,10.0,11.0,100.0,93.0,2018-06-28,2018-12-30,2018-06-01,212
...,...,...,...,...,...,...,...,...,...,...,...,...
17727,disk_76330,1,0.0,18.0,16.0,16.0,100.0,86.0,2018-06-03,2018-06-05,2018-06-01,4
17728,disk_76330,1,0.0,18.0,16.0,16.0,100.0,86.0,2018-06-04,2018-06-05,2018-06-01,4
17729,disk_76330,1,0.0,18.0,16.0,16.0,100.0,86.0,2018-06-01,2018-06-05,2018-06-01,4
17730,disk_43071,1,41.0,7.0,6.0,7.0,100.0,93.0,2018-06-01,2018-05-31,2018-06-01,-1
17731,disk_64414,1,2151.0,18.0,17.0,18.0,87.0,92.0,2018-06-01,2018-06-01,2018-06-01,0

In [8]:
# 读取2018年07月磁盘数据集
# 读取csv文件
smartlog_data_201807_fault_df = pd.read_csv('smartlog_data_201807.csv')
# 删除空值
smartlog_data_201807_fault_df = smartlog_data_201807_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201807_fault_df['dt'] = pd.to_datetime(smartlog_data_201807_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201807_fault_A_df = smartlog_data_201807_fault_df[smartlog_data_201807_fault_df['model'] == 1]
smartlog_data_201807_fault_B_df = smartlog_data_201807_fault_df[smartlog_data_201807_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201807_fault_A_df = smartlog_data_201807_fault_A_df[smartlog_data_201807_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201807_fault_B_df = smartlog_data_201807_fault_B_df[smartlog_data_201807_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201807_fault_A_df = pd.merge(smartlog_data_201807_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201807_fault_B_df = pd.merge(smartlog_data_201807_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201807_fault_A_df['first_observation_time'] = smartlog_data_201807_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201807_fault_B_df['first_observation_time'] = smartlog_data_201807_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201807_fault_A_df['time_diff'] = (smartlog_data_201807_fault_A_df['fault_time'] - smartlog_data_201807_fault_A_df['first_observation_time']).dt.days
smartlog_data_201807_fault_B_df['time_diff'] = (smartlog_data_201807_fault_B_df['fault_time'] - smartlog_data_201807_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201807_fault_A_df = smartlog_data_201807_fault_A_df[(smartlog_data_201807_fault_A_df['time_diff'] >= 0) | (smartlog_data_201807_fault_A_df['fault_time'] <= '2018-07-05')]
smartlog_data_201807_fault_B_df = smartlog_data_201807_fault_B_df[(smartlog_data_201807_fault_B_df['time_diff'] >= 0) | (smartlog_data_201807_fault_B_df['fault_time'] <= '2018-07-05')]
# 选取属性进行测试
smartlog_data_201807_fault_A_df = smartlog_data_201807_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201807_fault_B_df = smartlog_data_201807_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201807_fault_df
gc.collect()
smartlog_data_201807_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_105541,1,0.0,12.0,11.0,12.0,100.0,88.0,2018-07-04,2018-11-18,2018-07-01,140
1,disk_105541,1,0.0,12.0,11.0,12.0,100.0,88.0,2018-07-14,2018-11-18,2018-07-01,140
2,disk_105541,1,0.0,12.0,11.0,12.0,100.0,88.0,2018-07-05,2018-11-18,2018-07-01,140
3,disk_105541,1,0.0,12.0,11.0,12.0,100.0,88.0,2018-07-03,2018-11-18,2018-07-01,140
4,disk_105541,1,0.0,12.0,11.0,12.0,100.0,88.0,2018-07-07,2018-11-18,2018-07-01,140
...,...,...,...,...,...,...,...,...,...,...,...,...
15704,disk_5200,1,0.0,26.0,23.0,26.0,100.0,89.0,2018-07-03,2018-07-05,2018-07-01,4
15705,disk_5200,1,0.0,26.0,23.0,26.0,100.0,89.0,2018-07-02,2018-07-05,2018-07-01,4
15706,disk_21558,1,0.0,20.0,19.0,20.0,100.0,87.0,2018-07-01,2018-06-30,2018-07-01,-1
15707,disk_67177,1,16074.0,14.0,13.0,14.0,2.0,90.0,2018-07-02,2018-07-02,2018-07-01,1
15708,disk_67177,1,16074.0,14.0,13.0,14.0,2.0,90.0,2018-07-01,2018-07-02,2018-07-01,1

In [7]:
# 读取2018年08月磁盘数据集
# 读取csv文件
smartlog_data_201808_fault_df = pd.read_csv('smartlog_data_201808.csv')
# 删除空值
smartlog_data_201808_fault_df = smartlog_data_201808_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201808_fault_df['dt'] = pd.to_datetime(smartlog_data_201808_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201808_fault_A_df = smartlog_data_201808_fault_df[smartlog_data_201808_fault_df['model'] == 1]
smartlog_data_201808_fault_B_df = smartlog_data_201808_fault_df[smartlog_data_201808_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201808_fault_A_df = smartlog_data_201808_fault_A_df[smartlog_data_201808_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201808_fault_B_df = smartlog_data_201808_fault_B_df[smartlog_data_201808_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201808_fault_A_df = pd.merge(smartlog_data_201808_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201808_fault_B_df = pd.merge(smartlog_data_201808_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201808_fault_A_df['first_observation_time'] = smartlog_data_201808_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201808_fault_B_df['first_observation_time'] = smartlog_data_201808_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201808_fault_A_df['time_diff'] = (smartlog_data_201808_fault_A_df['fault_time'] - smartlog_data_201808_fault_A_df['first_observation_time']).dt.days
smartlog_data_201808_fault_B_df['time_diff'] = (smartlog_data_201808_fault_B_df['fault_time'] - smartlog_data_201808_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201808_fault_A_df = smartlog_data_201808_fault_A_df[(smartlog_data_201808_fault_A_df['time_diff'] >= 0) | (smartlog_data_201808_fault_A_df['fault_time'] <= '2018-08-05')]
smartlog_data_201808_fault_B_df = smartlog_data_201808_fault_B_df[(smartlog_data_201808_fault_B_df['time_diff'] >= 0) | (smartlog_data_201808_fault_B_df['fault_time'] <= '2018-08-05')]
# 选取属性进行测试
smartlog_data_201808_fault_A_df = smartlog_data_201808_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201808_fault_B_df = smartlog_data_201808_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201808_fault_df
gc.collect()
smartlog_data_201808_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_120668,1,0.0,114.0,104.0,106.0,100.0,93.0,2018-08-15,2018-09-05,2018-08-01,35
1,disk_120668,1,0.0,114.0,104.0,106.0,100.0,93.0,2018-08-28,2018-09-05,2018-08-01,35
2,disk_120668,1,0.0,114.0,104.0,106.0,100.0,93.0,2018-08-27,2018-09-05,2018-08-01,35
3,disk_120668,1,0.0,114.0,104.0,106.0,100.0,93.0,2018-08-12,2018-09-05,2018-08-01,35
4,disk_120668,1,0.0,114.0,104.0,106.0,100.0,93.0,2018-08-03,2018-09-05,2018-08-01,35
...,...,...,...,...,...,...,...,...,...,...,...,...
13602,disk_33031,1,1.0,13.0,12.0,13.0,100.0,94.0,2018-08-01,2018-08-01,2018-08-01,0
13603,disk_33031,1,1.0,13.0,12.0,13.0,100.0,94.0,2018-08-01,2018-08-01,2018-08-01,0
13604,disk_33031,1,1.0,13.0,12.0,13.0,100.0,94.0,2018-08-02,2018-08-01,2018-08-01,0
13605,disk_33031,1,1.0,13.0,12.0,13.0,100.0,94.0,2018-08-02,2018-08-01,2018-08-01,0
13606,disk_33031,1,1.0,13.0,12.0,13.0,100.0,94.0,2018-08-02,2018-08-01,2018-08-01,0

In [6]:
# 读取2018年09月磁盘数据集
# 读取csv文件
smartlog_data_201809_fault_df = pd.read_csv('smartlog_data_201809.csv')
# 删除空值
smartlog_data_201809_fault_df = smartlog_data_201809_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201809_fault_df['dt'] = pd.to_datetime(smartlog_data_201809_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201809_fault_A_df = smartlog_data_201809_fault_df[smartlog_data_201809_fault_df['model'] == 1]
smartlog_data_201809_fault_B_df = smartlog_data_201809_fault_df[smartlog_data_201809_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201809_fault_A_df = smartlog_data_201809_fault_A_df[smartlog_data_201809_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201809_fault_B_df = smartlog_data_201809_fault_B_df[smartlog_data_201809_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201809_fault_A_df = pd.merge(smartlog_data_201809_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201809_fault_B_df = pd.merge(smartlog_data_201809_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201809_fault_A_df['first_observation_time'] = smartlog_data_201809_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201809_fault_B_df['first_observation_time'] = smartlog_data_201809_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201809_fault_A_df['time_diff'] = (smartlog_data_201809_fault_A_df['fault_time'] - smartlog_data_201809_fault_A_df['first_observation_time']).dt.days
smartlog_data_201809_fault_B_df['time_diff'] = (smartlog_data_201809_fault_B_df['fault_time'] - smartlog_data_201809_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201809_fault_A_df = smartlog_data_201809_fault_A_df[(smartlog_data_201809_fault_A_df['time_diff'] >= 0) | (smartlog_data_201809_fault_A_df['fault_time'] <= '2018-09-05')]
smartlog_data_201809_fault_B_df = smartlog_data_201809_fault_B_df[(smartlog_data_201809_fault_B_df['time_diff'] >= 0) | (smartlog_data_201809_fault_B_df['fault_time'] <= '2018-09-05')]
# 选取属性进行测试
smartlog_data_201809_fault_A_df = smartlog_data_201809_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201809_fault_B_df = smartlog_data_201809_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201809_fault_df
gc.collect()
smartlog_data_201809_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_16037,1,0.0,20.0,19.0,20.0,100.0,90.0,2018-09-23,2018-12-26,2018-09-01,116
1,disk_16037,1,0.0,20.0,19.0,20.0,100.0,90.0,2018-09-06,2018-12-26,2018-09-01,116
2,disk_16037,1,0.0,20.0,19.0,20.0,100.0,90.0,2018-09-17,2018-12-26,2018-09-01,116
3,disk_16037,1,0.0,20.0,19.0,20.0,100.0,90.0,2018-09-08,2018-12-26,2018-09-01,116
4,disk_16037,1,0.0,20.0,19.0,20.0,100.0,90.0,2018-09-15,2018-12-26,2018-09-01,116
...,...,...,...,...,...,...,...,...,...,...,...,...
10457,disk_39472,1,69.0,9.0,7.0,8.0,100.0,82.0,2018-09-02,2018-09-02,2018-09-01,1
10458,disk_39472,1,69.0,9.0,7.0,8.0,100.0,82.0,2018-09-03,2018-09-02,2018-09-01,1
10459,disk_39472,1,69.0,9.0,7.0,8.0,100.0,94.0,2018-09-01,2018-09-02,2018-09-01,1
10460,disk_52300,1,0.0,19.0,16.0,18.0,100.0,91.0,2018-09-01,2018-08-31,2018-09-01,-1
10461,disk_145693,1,732.0,23.0,22.0,23.0,96.0,83.0,2018-09-01,2018-08-31,2018-09-01,-1

In [5]:
# 读取2018年10月磁盘数据集
# 读取csv文件
smartlog_data_201810_fault_df = pd.read_csv('smartlog_data_201810.csv')
# 删除空值
smartlog_data_201810_fault_df = smartlog_data_201810_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201810_fault_df['dt'] = pd.to_datetime(smartlog_data_201810_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201810_fault_A_df = smartlog_data_201810_fault_df[smartlog_data_201810_fault_df['model'] == 1]
smartlog_data_201810_fault_B_df = smartlog_data_201810_fault_df[smartlog_data_201810_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201810_fault_A_df = smartlog_data_201810_fault_A_df[smartlog_data_201810_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201810_fault_B_df = smartlog_data_201810_fault_B_df[smartlog_data_201810_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201810_fault_A_df = pd.merge(smartlog_data_201810_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201810_fault_B_df = pd.merge(smartlog_data_201810_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201810_fault_A_df['first_observation_time'] = smartlog_data_201810_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201810_fault_B_df['first_observation_time'] = smartlog_data_201810_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201810_fault_A_df['time_diff'] = (smartlog_data_201810_fault_A_df['fault_time'] - smartlog_data_201810_fault_A_df['first_observation_time']).dt.days
smartlog_data_201810_fault_B_df['time_diff'] = (smartlog_data_201810_fault_B_df['fault_time'] - smartlog_data_201810_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201810_fault_A_df = smartlog_data_201810_fault_A_df[(smartlog_data_201810_fault_A_df['time_diff'] >= 0) | (smartlog_data_201810_fault_A_df['fault_time'] <= '2018-10-05')]
smartlog_data_201810_fault_B_df = smartlog_data_201810_fault_B_df[(smartlog_data_201810_fault_B_df['time_diff'] >= 0) | (smartlog_data_201810_fault_B_df['fault_time'] <= '2018-10-05')]
# 选取属性进行测试
smartlog_data_201810_fault_A_df = smartlog_data_201810_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
smartlog_data_201810_fault_B_df = smartlog_data_201810_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201810_fault_df
gc.collect()
smartlog_data_201810_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_105394,1,0.0,12.0,11.0,12.0,100.0,89.0,2018-10-11,2018-12-23,2018-10-01,83
1,disk_105394,1,0.0,12.0,11.0,12.0,100.0,89.0,2018-10-31,2018-12-23,2018-10-01,83
2,disk_105394,1,0.0,12.0,11.0,12.0,100.0,89.0,2018-10-30,2018-12-23,2018-10-01,83
3,disk_105394,1,0.0,12.0,11.0,12.0,100.0,89.0,2018-10-17,2018-12-23,2018-10-01,83
4,disk_105394,1,0.0,12.0,11.0,12.0,100.0,89.0,2018-10-19,2018-12-23,2018-10-01,83
...,...,...,...,...,...,...,...,...,...,...,...,...
8203,disk_49300,1,0.0,20.0,19.0,20.0,100.0,95.0,2018-10-10,2018-10-11,2018-10-03,8
8204,disk_49300,1,0.0,20.0,19.0,20.0,100.0,95.0,2018-10-07,2018-10-11,2018-10-03,8
8205,disk_49300,1,0.0,20.0,19.0,20.0,100.0,95.0,2018-10-06,2018-10-11,2018-10-03,8
8206,disk_49300,1,0.0,20.0,19.0,20.0,100.0,95.0,2018-10-03,2018-10-11,2018-10-03,8
8207,disk_11467,1,2.0,31.0,26.0,31.0,100.0,87.0,2018-10-01,2018-09-30,2018-10-01,-1

In [4]:
# 读取2018年11月磁盘数据集
# 读取csv文件
smartlog_data_201811_fault_df = pd.read_csv('smartlog_data_201811.csv')
# Remove null values
smartlog_data_201811_fault_df = smartlog_data_201811_fault_df.dropna(axis=1, how='all')
# Convert the format of dt into a time series, which is convenient for comparison with the failure time
smartlog_data_201811_fault_df['dt'] = pd.to_datetime(smartlog_data_201811_fault_df['dt'], format='%Y%m%d')
# Bring together data from the same model
smartlog_data_201811_fault_A_df = smartlog_data_201811_fault_df[smartlog_data_201811_fault_df['model'] == 1]
smartlog_data_201811_fault_B_df = smartlog_data_201811_fault_df[smartlog_data_201811_fault_df['model'] == 2]
# Filter failed disk information
smartlog_data_201811_fault_A_df = smartlog_data_201811_fault_A_df[smartlog_data_201811_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201811_fault_B_df = smartlog_data_201811_fault_B_df[smartlog_data_201811_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# Mixed datasets for easy comparison
smartlog_data_201811_fault_A_df = pd.merge(smartlog_data_201811_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201811_fault_B_df = pd.merge(smartlog_data_201811_fault_B_df, fault_tag_B_df, on='serial_number')
# Compute the earliest observed time for each disk
smartlog_data_201811_fault_A_df['first_observation_time'] = smartlog_data_201811_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201811_fault_B_df['first_observation_time'] = smartlog_data_201811_fault_B_df.groupby('serial_number')['dt'].transform('min')
# Calculate the difference between the failure time and the earliest observed time
smartlog_data_201811_fault_A_df['time_diff'] = (smartlog_data_201811_fault_A_df['fault_time'] - smartlog_data_201811_fault_A_df['first_observation_time']).dt.days
smartlog_data_201811_fault_B_df['time_diff'] = (smartlog_data_201811_fault_B_df['fault_time'] - smartlog_data_201811_fault_B_df['first_observation_time']).dt.days
# Filter out the data of those disks whose earliest failure time is greater than 0 days from the last observation time
smartlog_data_201811_fault_A_df = smartlog_data_201811_fault_A_df[(smartlog_data_201811_fault_A_df['time_diff'] >= 0) | 
                                                                  (smartlog_data_201811_fault_A_df['fault_time'] <= '2018-11-05')]
smartlog_data_201811_fault_B_df = smartlog_data_201811_fault_B_df[(smartlog_data_201811_fault_B_df['time_diff'] >= 0) | 
                                                                  (smartlog_data_201811_fault_B_df['fault_time'] <= '2018-11-05')]
# Select attribute
smartlog_data_201811_fault_A_df = smartlog_data_201811_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 'smart_12raw', 
                                                                   'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 'first_observation_time', 
                                                                   'time_diff']]
smartlog_data_201811_fault_B_df = smartlog_data_201811_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 
                                                                   'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 
                                                                   'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 
                                                                   'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 
                                                                   'first_observation_time', 'time_diff']]
# Clear memory
del smartlog_data_201811_fault_df
gc.collect()
smartlog_data_201811_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_147809,1,0.0,25.0,23.0,24.0,100.0,90.0,2018-11-22,2018-12-28,2018-11-01,57
1,disk_147809,1,0.0,25.0,23.0,24.0,100.0,90.0,2018-11-19,2018-12-28,2018-11-01,57
2,disk_147809,1,0.0,25.0,23.0,24.0,100.0,90.0,2018-11-24,2018-12-28,2018-11-01,57
3,disk_147809,1,0.0,25.0,23.0,24.0,100.0,90.0,2018-11-03,2018-12-28,2018-11-01,57
4,disk_147809,1,0.0,25.0,23.0,24.0,100.0,90.0,2018-11-04,2018-12-28,2018-11-01,57
...,...,...,...,...,...,...,...,...,...,...,...,...
4709,disk_107404,1,0.0,21.0,16.0,17.0,100.0,95.0,2018-11-03,2018-11-19,2018-11-03,16
4710,disk_129666,1,112.0,17.0,16.0,16.0,98.0,84.0,2018-11-01,2018-10-31,2018-11-01,-1
4711,disk_144254,1,661.0,22.0,21.0,22.0,96.0,89.0,2018-11-01,2018-10-31,2018-11-01,-1
4712,disk_93666,1,2.0,22.0,21.0,22.0,100.0,89.0,2018-11-01,2018-10-31,2018-11-01,-1
4713,disk_131893,1,0.0,6.0,5.0,6.0,100.0,85.0,2018-11-01,2018-10-31,2018-11-01,-1

In [3]:
# 读取2018年12月磁盘数据集
# 读取csv文件
smartlog_data_201812_fault_df = pd.read_csv('smartlog_data_201812.csv')
# 删除空值
smartlog_data_201812_fault_df = smartlog_data_201812_fault_df.dropna(axis=1, how='all')
# 将dt的格式转化成时间序列，方便和故障时间进行比较
smartlog_data_201812_fault_df['dt'] = pd.to_datetime(smartlog_data_201812_fault_df['dt'], format='%Y%m%d')
# 将同一个模型的数据归结到一起
smartlog_data_201812_fault_A_df = smartlog_data_201812_fault_df[smartlog_data_201812_fault_df['model'] == 1]
smartlog_data_201812_fault_B_df = smartlog_data_201812_fault_df[smartlog_data_201812_fault_df['model'] == 2]
# 筛选发生故障的磁盘信息
smartlog_data_201812_fault_A_df = smartlog_data_201812_fault_A_df[smartlog_data_201812_fault_A_df['serial_number'].isin(fault_tag_A_df['serial_number'])]
smartlog_data_201812_fault_B_df = smartlog_data_201812_fault_B_df[smartlog_data_201812_fault_B_df['serial_number'].isin(fault_tag_B_df['serial_number'])]
# 混合数据集，方便比较
smartlog_data_201812_fault_A_df = pd.merge(smartlog_data_201812_fault_A_df, fault_tag_A_df, on='serial_number')
smartlog_data_201812_fault_B_df = pd.merge(smartlog_data_201812_fault_B_df, fault_tag_B_df, on='serial_number')
# 计算每个磁盘的最早一次观察时间
smartlog_data_201812_fault_A_df['first_observation_time'] = smartlog_data_201812_fault_A_df.groupby('serial_number')['dt'].transform('min')
smartlog_data_201812_fault_B_df['first_observation_time'] = smartlog_data_201812_fault_B_df.groupby('serial_number')['dt'].transform('min')
# 计算故障时间与最早一次观察时间的差值
smartlog_data_201812_fault_A_df['time_diff'] = (smartlog_data_201812_fault_A_df['fault_time'] - smartlog_data_201812_fault_A_df['first_observation_time']).dt.days
smartlog_data_201812_fault_B_df['time_diff'] = (smartlog_data_201812_fault_B_df['fault_time'] - smartlog_data_201812_fault_B_df['first_observation_time']).dt.days
# 筛选出那些最早的故障时间距离最后一次观察时间大于0天的磁盘的数据
smartlog_data_201812_fault_A_df = smartlog_data_201812_fault_A_df[(smartlog_data_201812_fault_A_df['time_diff'] >= 0) | 
                                                                  (smartlog_data_201812_fault_A_df['fault_time'] <= '2018-12-05')]
smartlog_data_201812_fault_B_df = smartlog_data_201812_fault_B_df[(smartlog_data_201812_fault_B_df['time_diff'] >= 0) | 
                                                                  (smartlog_data_201812_fault_B_df['fault_time'] <= '2018-12-05')]
# 选取属性进行测试
smartlog_data_201812_fault_A_df = smartlog_data_201812_fault_A_df[['serial_number', 'model', 'smart_5raw', 'smart_4raw', 'smart_192raw', 
                                                                   'smart_12raw', 'smart_5_normalized', 'smart_7_normalized', 'dt', 'fault_time', 
                                                                   'first_observation_time', 'time_diff']]
smartlog_data_201812_fault_B_df = smartlog_data_201812_fault_B_df[['serial_number', 'model', 'smart_9_normalized', 'smart_191_normalized', 'smart_192raw', 
                                                                   'smart_195_normalized', 'smart_5raw', 'smart_199raw', 'smart_190_normalized', 'smart_188raw', 
                                                                   'smart_194_normalized', 'smart_194raw', 'smart_190raw' , 'smart_191raw', 'smart_7_normalized', 
                                                                   'smart_9raw', 'smart_7raw', 'smart_242raw', 'smart_241raw', 'dt', 'fault_time', 
                                                                   'first_observation_time', 'time_diff']]
# 清除内存
del smartlog_data_201812_fault_df
gc.collect()
smartlog_data_201812_fault_A_df

,serial_number,model,smart_5raw,smart_4raw,smart_192raw,smart_12raw,smart_5_normalized,smart_7_normalized,dt,fault_time,first_observation_time,time_diff
0,disk_61777,1,0.0,9.0,8.0,9.0,100.0,88.0,2018-12-16,2018-12-30,2018-12-09,21
1,disk_61777,1,0.0,9.0,8.0,9.0,100.0,88.0,2018-12-21,2018-12-30,2018-12-09,21
2,disk_61777,1,0.0,9.0,8.0,9.0,100.0,88.0,2018-12-22,2018-12-30,2018-12-09,21
3,disk_61777,1,0.0,9.0,8.0,9.0,100.0,88.0,2018-12-11,2018-12-30,2018-12-09,21
4,disk_61777,1,0.0,9.0,8.0,9.0,100.0,88.0,2018-12-19,2018-12-30,2018-12-09,21
...,...,...,...,...,...,...,...,...,...,...,...,...
2394,disk_73603,1,429.0,27.0,25.0,26.0,97.0,84.0,2018-12-04,2018-12-04,2018-12-01,3
2395,disk_73603,1,428.0,27.0,25.0,26.0,97.0,84.0,2018-12-02,2018-12-04,2018-12-01,3
2396,disk_35598,1,18.0,9.0,8.0,9.0,100.0,95.0,2018-12-01,2018-12-02,2018-12-01,1
2397,disk_35598,1,66.0,9.0,8.0,9.0,100.0,89.0,2018-12-02,2018-12-02,2018-12-01,1
2398,disk_35598,1,896.0,9.0,8.0,9.0,95.0,88.0,2018-12-03,2018-12-02,2018-12-01,1

In [24]:
# 合并所有A类型故障磁盘数据
smartlog_data_fault_A_df = pd.concat([smartlog_data_201707_fault_A_df, smartlog_data_201708_fault_A_df, smartlog_data_201709_fault_A_df, smartlog_data_201710_fault_A_df, smartlog_data_201711_fault_A_df, smartlog_data_201712_fault_A_df, smartlog_data_201801_fault_A_df, smartlog_data_201802_fault_A_df, smartlog_data_201803_fault_A_df, smartlog_data_201804_fault_A_df, smartlog_data_201805_fault_A_df, smartlog_data_201806_fault_A_df, smartlog_data_201807_fault_A_df, smartlog_data_201808_fault_A_df, smartlog_data_201809_fault_A_df, smartlog_data_201810_fault_A_df, smartlog_data_201811_fault_A_df, smartlog_data_201812_fault_A_df])
# 合并所有B类型故障磁盘数据
smartlog_data_fault_B_df = pd.concat([smartlog_data_201707_fault_B_df, smartlog_data_201708_fault_B_df, smartlog_data_201709_fault_B_df, smartlog_data_201710_fault_B_df, smartlog_data_201711_fault_B_df, smartlog_data_201712_fault_B_df, smartlog_data_201801_fault_B_df, smartlog_data_201802_fault_B_df, smartlog_data_201803_fault_B_df, smartlog_data_201804_fault_B_df, smartlog_data_201805_fault_B_df, smartlog_data_201806_fault_B_df, smartlog_data_201807_fault_B_df, smartlog_data_201808_fault_B_df, smartlog_data_201809_fault_B_df, smartlog_data_201810_fault_B_df, smartlog_data_201811_fault_B_df, smartlog_data_201812_fault_B_df])

In [25]:
print(len(smartlog_data_fault_A_df))
print(len(smartlog_data_fault_B_df))

334285
243725

#### 将数据保存到CSV文件中去

In [26]:
smartlog_data_fault_A_df.to_csv('smartlog_data_fault_A_df.csv', index=False)
smartlog_data_fault_B_df.to_csv('smartlog_data_fault_B_df.csv', index=False)